  <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPETyLQgwetgJCF5xrME_uEw2g_bzzJYg">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(41.048055, 29.0236111),
          zoom: 10
        };
        window.map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      function addMarker(lat, lng, map) {
        var location = new google.maps.LatLng(lat, lng);
        console.log(location)
        marker = new google.maps.Marker({
            position: location,
            map: map
            });
      }

      var lat = 41.048;
      var lng = 29.023;

      function placeMarkers(){        
        addMarker(lat, lng, window.map);
        
      }

      

    </script>   
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
    
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>